
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(240, 205, 6, 0.233);
  border-radius: 50%;
  border-top-color: #545454;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}